@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bkg: #ffffff;
  --primary: #ffc107; /* Vibrant yellow */
  --shade: #212529; /* Deep neutral for contrast */
  --heading: 5rem;
  --heading-color: #212529;
  --heading-color-light: #343a40;
}

#__next{
  position: relative;
  z-index: 1;
}




::selection{
  background-color: #ffc107;
  color:#fff;
}

/* Default Dosnine Theme */
.Default {
  --bkg: #fff;       /* Softer, premium off-white */
  --primary:#ffc107;   /* Richer blue for a more modern, tech feel */
  --shade: #2b2b2b; 
}
 
html,
body {
  padding: 0;
  margin: 0;
  background-color:var(--bkg) ;
  overflow-x: hidden;
   font-family: "Vend Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  font-weight: 400;
  font-size:16px;
  color:var(--shade);
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  font-optical-sizing: auto;
}




h1{
  margin: 0;
  color: var(--shade);
  font-size: var(--heading);
  line-height: 1.2;
  font-weight: 700;
  text-transform: capitalize;
}



h2,h3,h4,h5{
  color:var(--heading_color);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  line-height: 1.8;
  font-size: 1.4rem;
}

p{
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;
    margin-top: 20px;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
  color:blue;
  font-weight: 600;
  text-transform: capitalize;

}

@media (max-width: 768px) {
  h1{
  font-size: 2rem;
  }
}

.input {
  @apply border border-gray-300 rounded-md px-3 py-2 w-full;
}
.btn {
  @apply bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition duration-200;
}






